<ng-container *ngIf="products$ | async; let retrievedProd">
  <ul>
    <li *ngFor="let product of retrievedProd">
      Book Id: {{ product.id }}, Book Name: {{ product.name }}, Availability:
      <i
        [ngClass]="
          product.available ? 'pi pi-check-circle' : 'pi pi-times-circle'
        "
      ></i>
      Publisher: {{ product.publisherInfo.publisherName }}, Phone Number:
      {{ product.publisherInfo.phoneNumber }}
    </li>
  </ul>

  ------------------

  <ul>
    <li *ngFor="let product of products">
      <span>{{ product.id }} : </span> {{ product.name }}
      <i
        [ngClass]="
          product.inStock ? 'pi pi-check-circle' : 'pi pi-times-circle'
        "
      ></i>
    </li>
  </ul>
</ng-container>
